# Dependencies
node_modules

# Junk files
.DS_Store

# Directories
/.vscode
/dist

# Dotfiles
/.editorconfig
/.env
/.env.development
/.env.test
/.env.local
/.env.development.local
/.env.test.local
/.gitignore

/README.md

# Configs
/tsconfig.json
